<form class="ui stacked segment form" name="addNewProgram" action="/trainerDashboard/addNewProgram" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Session 1</label>
            <select class="ui dropdown" name="session1">
            </select>
        </div>
        <div class="field">
            <label>Session 2</label>
            <select class="ui dropdown" name="session2"></select>
        </div>
        <div class="field">
            <label>Session 3</label>
            <select class="ui dropdown" name="session3"></select>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>Session 4</label>
            <select class="ui dropdown" name="session4"></select>
        </div>
        <div class="field">
            <label>Session 5</label>
            <select class="ui dropdown" name="session5"></select>
        </div>
    </div>
    <button class="ui blue submit button">Create</button>
</form>