{{> welcome-menu id ="about"}}

<section class="ui segment">
    <div class="ui centered grid">

        <div class="row">

            <div class="middle aligned eight wide column">

                <p class="ui centre aligned header">
                    BMI Tracker
                </p>
                <div class="ui horizontal divider header">
                    <i class="huge bar chart icon"></i>
                </div>
                <p>
                    Fill in your assessments week by week and track your BMI.
                    Trainers will comment on your progress and encourage you to keep going!
                </p>
            </div>
            <div class="eight wide column">
                <section>
                    <!--<img class="ui large image" src="../../public/images/gym-icons4.png">-->
                </section>

            </div>

        </div>

    </div>

</section>