{{#if member}}
    {{> member-menu id="bookings"}}
{{/if}}
{{#unless member}}
    {{> trainer-menu id="bookings"}}
{{/unless}}
<!--Toggles navigation bars depending on who views the page-->

<section class="ui raised segment">
    <h4>Add a new Booking</h4>
    {{#if member}}
        {{> new-booking-member}}
    {{/if}}

    {{#if member}}
        <h4> {{member.firstName}}'s Current Bookings </h4>
    {{/if}}
    {{#unless member}}
        <h4> {{trainer.firstName}}'s Current Bookings </h4>
    {{/unless}}
    {{> booking-details}}
</section>