{{#unless trainer}}
    {{> member-menu id="classes"}}
{{/unless}}
{{#if trainer}}
    {{> trainer-menu id="classes"}}
{{/if}}
<!--Toggles navigation bars depending on who views the page-->

<section class="ui raised segment">
    {{#if trainer}}
        <h4> Add New Class </h4>
        {{> new-class}}
    {{/if}}

    {{#unless trainer}}
        <h4>{{member.firstName}}'s Current Classes</h4>
        {{> member-classes}}
    {{/unless}}

    <h4>List of Available Classes</h4>
    {{> classList}}
</section>

<script>
    $(function(){
        $('.ui.accordian').accordion();//Code to expand and close accordion
    });
</script>