
{{> trainer-menu id="classes"}}

<section class="ui raised segment">
    <div class="ui animated button" tabindex="0">
        <div class="visible content"> Add a new class </div>
        <div class="hidden content">
            <i class="plus icon"></i>
        </div>
    </div>
</section>