{{> trainer-menu id="fitnessProgram"}}

<section class="ui raised segment">
    <h4>Create a new Fitness Program</h4>
    {{> new-fitnessProgram}}

    <h4>Current Fitness Programs</h4>
    {{> fitnessProgram-details}}
</section>