{{#if member}}
    {{> member-menu id="goals"}}
{{else}}
    {{> trainer-menu id="goals"}}
{{/if}}
<!--Toggles navigation bars depending on who views the page-->

<section class="ui raised segment">
    {{#if member}}
        <h4>Add a new Goal</h4>
        {{> new-goal-member}}
        {{> goal-details}}
    {{else}}
        <h4>Add a new Goal for a Member</h4>
        {{> new-goal-trainer}}
    {{/if}}
</section>