{{> welcome-menu}}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to your personalised Gym Application!
    </h1>
    <p>
        This gym app will allow you to keep track of your health and fitness goals.
    </p>
    <p>
        You can receive feedback from professional trainers and find the motivation to continue with your own training plan!

        <img  src="http://res.cloudinary.com/dlswdhwpl/image/upload/v1503513638/welcome-page_uvyizm.jpg" alt="Welcome icon">

    </p>
</section>